MYSQL_DATABASE=wordpress
MYSQL_USER=admin
MYSQL_PASSWORD=admin123
MYSQL_ROOT_PASSWORD=123456
WORDPRESS_LOCAL_DIR=./html
DB_LOCAL_DIR=./mysql

OLD_DB_IP=127.0.0.1
OLD_MYSQL_USER=admin
OLD_MYSQL_PASSWORD=admin123
