# The environment variables defined here are used to run docker-compose.yml.
# In order to distinguish with other existing variables, a common WP_ prefix is used.

#######################################
#
#   Installation Related Variables
#
#######################################

# This should not include port number.
WP_HOST_NAME=www.wordpress.com
WP_APACHE_PORT=8088

WP_MYSQL_PORT=3306
WP_MYSQL_DATABASE=wordpress
WP_MYSQL_USER=admin
WP_MYSQL_PASSWORD=admin123
WP_MYSQL_ROOT_PASSWORD=123456

WP_WEB_LOCAL_DIR=./html
WP_WEB_INST_DIR=/var/www/html/blog
WP_DB_LOCAL_DIR=./mysql

#######################################
#
#   Data Migration Specific Variables
#
#######################################

# Specify the local folder to be uploaded to docker container while running migrate-data.zsh
WP_LOCAL_UPLOAD=~/uploads

# Specify the host name changes after host migration while running migrate-data.zsh. 
# This should include port.
WP_FROM_HOST=www.wordpress.com
WP_TO_HOST=www.wordpress.com

OLD_DB_IP=127.0.0.1
OLD_MYSQL_USER=admin
OLD_MYSQL_PASSWORD=admin123
